Thumbs.db
.DS_Store
node_modules/*
bld/
dist/
editor/editor-*.js
plugins/**/editor.d.ts
plugins/**/*-debug.js
samples/**/duality*.ts
samples/**/three*.js*
samples/**/three*.d.ts
tests/**/*.js*
tests/**/duality*.d.ts
samples/testApp/testApp*.js*
samples/testApp2/testApp2*.js*
samples/testApp2/testApp2plugin/testPlugin.js*
moreExampleBuildEnvs/**/test*.js
moreExampleBuildEnvs/**/*.d.ts
**/*-min.js
**/*-debug.js

**/*.js.map